# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules
package-lock.json

# IDEs and editors
/.idea/
/.project
/.classpath
/.c9/
/.settings/
/*.launch
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/typings
.angular
.angular/cache

# Environment variables
*.env
*.env.local
*.env.*.local

# e2e testing
/e2e/*.js
/e2e/*.map

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# .NET
bin/
obj/
*.user
*.suo
*.rsuser
*.ide
*.userosscache
*.vs/
*.vscode/
.project
.lock.json
*.pdb
*.dll
*.dbmdl
*.nupkg
*.sln.docstates

# Logs
*.log

# Uncomment if you have specific needs for Visual Studio
# ~$*
