<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- Company Info Section -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-7">Company Info</h3>
                <p>
                    A good plus of traveling is that often you get new skills without difficulty and without even noticing it.
                </p>
                <div class="navbar-brand">
                    <div class="logo">
                        <a href="/#/home">
                            <img class="navbar-logo" src="../../../assets/img/logo-1.png" alt="Mobirise">
                        </a>
                    </div>
                </div>
            </div>

            <!-- Contacts Section -->
            <div class="col-lg-4 col-md-12 col-sm-12">
                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-7">Contacts</h3>
                <div class="mbr-row items mbr-white">
                    <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-tablet-vertical" style="color: rgb(255, 255, 255);"></span>
                        <h5>123-456-78901</h5>
                    </div>
                    <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-pin" style="color: rgb(255, 255, 255);"></span>
                        <h5>London, 51 Street, 43</h5>
                    </div>
                    <div class="list-item mbr-col-lg-12 mbr-col-md-12 mbr-col-sm-12">
                        <span class="mbr-iconfont listico mbri-clock" style="color: rgb(255, 255, 255);"></span>
                        <h5>Mon - Sat 8.00 - 18.00</h5>
                    </div>
                </div>
                <div class="social-list py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" >
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(255, 255, 255);"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" >
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 255);"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon" style="color: rgb(255, 255, 255);"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(255, 255, 255);"></div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Recent Trips Section -->
            <div class="col-lg-4 col-md-12 col-sm-12 img-list">
                <h3 class="mbr-text mbr-bold mbr-fonts-style group-title display-7">Recent Trips</h3>
                <img class="tips" src="assets/images/010.jpg" alt="Mobirise">
                <img class="tips" src="assets/images/021.jpg" alt="Mobirise">
                <img class="tips" src="assets/images/032.jpg" alt="Mobirise">
                <img class="tips" src="assets/images/043.jpg" alt="Mobirise">
                <img class="tips" src="assets/images/054.jpg" alt="Mobirise">
                <img class="tips" src="assets/images/065.jpg" alt="Mobirise">
            </div>

        </div>
    </div>
</footer>
