<div class="wrapper">
  <div
    class="page-header"
    style="background-image: url('./assets/img/login-image.jpg')"
  >
    <div class="filter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title text-center">
               Welcome to signup page
            </h3>
            <form novalidate [formGroup]="form" class="form-horizontal">
                 
              <div class="form-group" [ngClass]="{ 'has-error': !f.Email.valid && submitted }">
                <label for="FirstName" class="input-label">FirstName <span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="FirstName" name="FirstName" placeholder="Enter First Name" />
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': !f.Email.valid && submitted }">
                <label for="LastName" class="input-label">LastName <span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="LastName" name="LastName" placeholder="Enter Last Name" />
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': !f.Email.valid && submitted }">
                <label for="Email" class="input-label">Email <span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="Email" name="Email" placeholder="Enter Email" />
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': !f.Password.valid && submitted }">
                <label for="Password" class="input-label">Password <span class="required">*</span></label>
                <input type="password" class="form-control" formControlName="Password" name="Password" placeholder="Enter Password" />
              </div>
              
              

              <button type="submit" (click)="onSignUp()">
                Sign up to your account
              </button>
            </form>

            <div class="forgot text-center">
              <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
            </div>
            <div class="social-line text-center">
              <a
                href="#pablo"
                class="btn btn-neutral btn-facebook btn-just-icon"
              >
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
              <a
                href="#pablo"
                class="btn btn-neutral btn-twitter btn-just-icon"
              >
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="text-center mt-3" >
              <a type="btn" href="/login" style="color: #121111d0;">
                Alrady have an account? Click here to Login.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
